{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="reviews" class="container"></div>
    <div class="overlay"></div>
        <div class="row">
            <div class="col-12 col-md-6">
                {% for reviews in reviews_list %}
                {{reviews.id}}
                
                <a href="edit_review/{{reviews.id}}" class="btn-edit btn-sm btn-secondary mb-3"
                aria-label="Go to the Edit Comments Page">Edit</a>
                <a href="delete_review/{{reviews.id}}" class="btn btn-danger"
                aria-label="Delete Comment">Delete</a>
<span><i class="fa-solid fa-at"></i>{{ reviews.name  | slice:":10" }} | </span>
                {% endfor %}
             
    </div>
{% endblock %}

